.product-card{
  border-radius: 3px;
  margin: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  cursor: pointer;
}

.product-card:hover{
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
}