#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2A2D34;
}

.page-summary-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 45px;
}

.page-summary{
  text-align: left;
}

table{
  margin:auto;
  padding: 20px;
}

th{
  text-align: left;
  padding: 10px;
}



.btn__primary{
  background-color: #009DDC;
  color: white;
}

.btn__secondary{
  color: #009DDC;
}

.btn__text{
  color: #009DDC;
  border: unset!important;
}

.btn{
  border: 2px solid #009DDC;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
  font-family: unset;
  height: 100%;
  cursor: pointer;
}

.btn__circle{
  border-radius: 50%;
}
