<tr id='basketItem'>
  <td>{{ product.name }}</td>
  <td>{{ product.quantity }}</td>
  <td>{{ renderPrice(product.price) }}</td>
  <td>{{ renderPrice(product.price * product.quantity) }}</td>
  <td 
    v-show='showPromotions'
    v-for='(promotion, index) in product.promotions' 
    v-bind:key='promotion.index'
    v-bind:product='promotion'>
    <promotion-item v-bind:promotion='promotion'></promotion-item> 
  </td>
  <td v-show='!showPromotions'>
    <button v-on:click='removeItem' class='btn btn__secondary'>Remove</button>
  </td>
</tr>
