<tr id='basketItem'>
  <td>{{ product.name }}</td>
  <td>
    <button v-on:click='addQty(product.quantity)' class='btn btn__circle'>+</button>
    {{ product.quantity }}
    <button v-on:click='removeQty' class='btn btn__circle'>−</button>
  </td>
  <td>{{ renderPrice(product.price) }}</td>
  <td>{{ renderPrice(product.price * product.quantity) }}</td>


  <td v-show='showPromotions'>
    <div 
      v-for='(promotion, index) in product.promotions' 
      v-bind:key='promotion.index'>
      {{ promotionText(promotion) }}: {{ renderPrice(calculateSaving(promotion)) }}
    </div>
    <h4>{{ renderPrice(totalSavings) }}</h4>
  </td>

  <td v-show='showPromotions'>{{ renderPrice(finalPrice) }}</td>

  <td v-show='!showPromotions'>
    <button v-on:click='removeItem' class='btn btn__secondary'>Remove</button>
  </td>
</tr>
