<div id='products'>
  <nav-bar></nav-bar>
  <h1>Menu</h1>

  <div class='page-summary-container' v-show='basket.length > 0'>
    <div class='page-summary'>
      <h2>Your order</h2>
      <div 
        v-for='(product, index) in basket' 
        v-bind:key='product.index' 
        v-bind:product='product'>
        <p>{{ product.quantity }}x {{ product.name }}</p>
      </div>
    </div>
    <button class='btn btn__primary' v-on:click='changePage("/basket")'>View basket</button>
  </div>
  <div class='product-list'>
    <product-card 
      v-for='(product, index) in products' 
      v-bind:key='product.index' 
      v-bind:product='product'>
    </product-card>
  </div>
</div>
